<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
        <div class="header">
            <h1>Welcome to my inventory application</h1>
        </div>
        <%- include("./sidebar"); -%>

    
