<div class="sidebar">
    <ul class="sidebar-links">
        <li class="sidebar-link">
            <a href="/">Home</a>
        </li>
        <li class="sidebar-link">
            <a href="/catalog/categories">Categories</a>
        </li>
        <li class="sidebar-link">
            <a href="/catalog/items">Items</a>
        </li>
    </ul>
</div>